@model IEnumerable<WebApplication1.Models.Domain.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogId)
            </th>
            <th>
              Picture
            </th>
            <th>
               Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogId)
            </td>
            <td>
               <img src="@item.Url" style="width:230px;height:150px" />

            </td>
            <td>
                @item.Title
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
             
                @*<a href="/Blogs/Delete/@item.BlogId">Delete</a>*@   
                @Html.ActionLink("Delete", "Delete", new {  id=item.BlogId })
            </td>
        </tr>
}
    </tbody>
</table>

 